@import '~antd/dist/antd.css';

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    .only-print { 
      display: initial
       }
}


@media screen {
  .only-print {
    display: none
  }
}

.App {
  text-align: center;
}
