.puzTable {
    color:black;
   
    margin: 1em 0;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none;
    border-spacing: 0;
    border-radius: .28571429rem;
    font-size: .8em;
    border-collapse: separate;
}

.puzTable tbody{
display: table-row-group;
vertical-align: middle;
}

.puzTable tbody tr{
    display:table-row;
}

.puzTable tbody tr td{
    border-left: 1px solid rgba(34,36,38,.1);
    border-top: 1px solid rgba(34,36,38,.1);
    text-align: center;
    padding: .88571429em;
}

.puzTable tr td:first-child{
    border-left: none;
}
.puzTable tr:first-child td{
    border-top: none;
}